@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,200;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #17a2b8;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
}

.aleart {
    background: white;
    border-radius: 15px;
    color: #17a2b8;
    font-size: 40px;
    font-weight: 600;
    padding: 15px 35px;
    border: none;
    outline: none;
}

.box .result {
    width: 250px;
    height: 250px;
    border: 7px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-weight: 600;
    margin: auto;
    margin-bottom: 50px;
}

.card {
    width: 250px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 25px;
}

.card p {
    padding: 10px;
    text-align: center;
    color: black;
    font-size: 20px;
}

.card p:first-child {
    background: #78c0c9;
    color: white;
}

.detail {
    display: flex;
}

.hide {
    display: none;
}