:root {
    --pink-color: #e26e70;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: linear-gradient( 
        45deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 50%, rgb(255, 204, 112) 100% );
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.open-model-btn {
    padding: 20px 40px;
    border: none;
    outline: none;
    border-radius: 6px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.model {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0, 0.6);
}

.model-inner {
    width: 400px;
    background: white;
    position: relative;
    top: 50px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    animation: showModel 0.5s ease-out;
}

.model-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: var(--pink-color);
    color: white;
}

.model-body {
    padding: 15px;
}
.model-body h2 {
    color: var(--pink-color);
    margin-bottom: 10px;
}

.model-footer {
    padding: 15px;
    text-align: right;
}

.model-footer button {
    padding: 10px 20px;
    background: var(--pink-color);
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.hide {
    display: none;
}

@keyframes showModel {
    from {
        top: -200px;
        opacity: 0;
    }
    to {
        top: 50px;
        opacity: 1;
    }
}